.costum-color-bg-lpale {
    background-color: #F9EFDB;
}

.costum-color-bg-dpale {
    background-color: hsl(40, 64%, 65%);
}

.costum-color-bg-green {
    background-color: hsl(112, 21%, 67%);
}

.costum-color-bg-dgreen {
    background-color: #638889;
}